.row {
    @mixin clearfix;
    &__gutters {
        margin-right: -65px;
     }
    &__gutters > div {
        padding-right: 65px;
     }
    &__gutters-small {
        margin-right: -45px;
     }
     &__gutters-small > div {
        padding-right: 45px;
      }

&__gutters-large {
     margin-right: -100px;
 }

&__gutters-large > div {
     padding-right: 100px;
 }

     @mixin atMedium {
     &__medium-4 {
         float: left;
         width: 33.33%;
     }
     &__medium-4--larger {
          width: 37%;
      }
     &__medium-8 {
          float: left;
          width: 66.66%;
      }
     &__medium-8--smaller {
         width: 63%;
      }
     }

    @mixin atSmall {
    &__medium-6 {
        float: left;
        width: 50%;
     }
    }
    &__t-padding {
        padding-top: 80px;
     }

     /* Begin equal heights */
    &__equal-at-medium-height {
        @mixin atMedium {
            display: flex;
        }
        & > div {
            float: none;
            display: flex;
            }

     }


}

